// #f0f3ff
@--primary-bg: #F4F4F7;
@--heavy-bg: #E7E7EB;
@--module-bg: #FFFFFF;
// text-color
@--lighter-text: #A7A7A7;
@--primary-text: #808080;
@--heavy-text: #555555;
// border-color
@--primary-border: #F2F3F5;
// theme
@--primary-blue: #9ac1f0;